#navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#content{
  margin-top: 60px;
  margin-bottom: 60px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.clear{
  clear: both;
  height: 60px;
}
