<nav class="navbar navbar-dark bg-dark">
  <button class="btn btn-dark" [routerLink]="['/home']" id="navbar-logo-button"><img src="../../../favicon.ico" id="navbar-logo"></button>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
    <li  class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
      <div *ngIf="getIsAdmin() == true">
        <button class="btn btn-dark font-lightblue" [routerLink]="['/adminCR']">Edit Resources</button>
        <button class="btn btn-dark font-lightblue" [routerLink]="['/users']">Users</button>
      </div>
      <button *ngIf="loggedIn() == false" class="btn btn-dark font-lightblue" [routerLink]="['/login']">Login</button>
      <button *ngIf="loggedIn() == false" class="btn btn-dark font-lightblue" [routerLink]="['/register']">Create Account</button>
      <button *ngIf="loggedIn() == true" class="btn btn-dark font-lightblue" [routerLink]="['/loggedInHome']">Debts</button>
      <button *ngIf="loggedIn() == true" class="btn btn-dark font-lightblue" [routerLink]="['/resources']">Resources</button>
      <button *ngIf="loggedIn() == true" class="btn btn-dark font-lightblue" [routerLink]="['/profile']">Profile</button>
      <button *ngIf="loggedIn() == true" class="btn btn-dark font-lightblue" (click)="logout()">Logout</button>
  </ul>
</nav>
