<a name="readme-top"></a>
<h1 align="center">Rotahu Management (Final Project)</h1> <hr>


  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Description">
      <ng-template ngbPanelContent>
        This website is a debt management tool to assist users in paying their debts in a way that saves them money from interest. It takes their monthly income, all monthlly expenses they have, and with their residual income, calculates the best way they should pay their debt off. Because of the main functionality of paying off debts, it also has a secondary functionality of serving as a budgeting tool, to help users notate where their income from each month is going.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Built With">
      <ng-template ngbPanelContent>
        This application was built with Java, git, SpringToolSuite, BootStrap, SpringBoot, css, html, Angular, and VS Code.During the production of this application, we used an agile development style and met daily during a scrum meeting. We also utilized a trello board for organizing tasking for this project.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Things Learned">
      <ng-template ngbPanelContent>
        During production of this application, we learned how to more effectively use an agile development style and gained better understanding of how to use git for version management.We continued to build our communication skills while working on this project--which has been the biggest project each of us has worked on thus far--and ensured that our product was functioning the way the entire team intended.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Things To Do Next Time">
      <ng-template ngbPanelContent>
        This website is a debt management tool to assist users in paying their debts in a way that saves them money from interest. It takes their monthly income, all monthlly expenses they have, and with their residual income, calculates the best way they should pay their debt off. Because of the main functionality of paying off debts, it also has a secondary functionality of serving as a budgeting tool, to help users notate where their income from each month is going.
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Things Of Note">
      <ng-template ngbPanelContent>
        Of note, a lot of time was spent on the Debt Calculator functionality. It is a recursive function that recalculates the monthly payments if a debt is paid off before the set time limit (60 months).
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Contact Us">
      <ng-template ngbPanelContent>
        <ol>
          <li> Ruben (Ro) </li>
          <ul>
            <li><a href="https://github.com/rubenarocha14">github</a></li>
            <li><a href="https://www.linkedin.com/in/rubenrocha1">LinkedIn</a></li>
          </ul>
          <li> Tyler (ta) </li>
          <ul>
             <li><a href="https://www.github.com/dopeysboy">github</a></li>
             <li><a href="https://www.linkedin.com/in/tyler-j-tanner">LinkedIn</a></li>
          </ul>
          <li> Klayton (hu) </li>
          <ul>
            <li><a href="https://github.com/KlaytonHutchins">github</a></li>
            <li><a href="https://www.linkedin.com/in/klaytonhutchins/">LinkedIn</a></li>
          </ul>
        </ol>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>

