<div class="row">
<div class="col-md-6">
  <h1 class="h1">ROTAHU DEBT MANAGEMENT SERVICES</h1>
  <p>Rotahu is a debt management compnay aiming to bring everyday people into financial freedom. Getting out of debt can be stressful and overwhelming, but with Rotahu, it has never been easier!</p>
  <p>"Real User Results"</p>
  <img alt="placeholder" height="300" width="300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Pushkin_population_history.svg/220px-Pushkin_population_history.svg.png"/>
</div>

  <div class="col-sm-6">
    <div class="card text-white bg-dark">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFcL8EP8jWBAVMcHdz0PAji2hC5Pat0tbW3Q&usqp=CAU" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Free Debt Calculator</h5>
        <hr>
        <p class="card-text">Quickly assess the most practical way out of debt for your situation.</p>
        <!-- <a href="#!" class="btn btn-primary">Try It!</a> -->
        <div class="d-grid gap-2">
          <button class="btn btn-outline-light float-right login_btn" [routerLink]="['/publicCalculator']"> Try It! </button>
        </div>
      </div>
    </div>
  </div>

<div >

</div>
</div>
