
.cardImages {

height:200px;

width:200px;

}

body {
  background: #000 !important;
}
.card {
  border: 1px solid #5face3;

}
.transparent-bg {
  background: rgba(228, 220, 220, 0.1);
}
.card-header {
  color: #fff;
  /*background: #ff0000;*/
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600 !important;
  margin-top: 10px;
  border-bottom: 0;
}
.login_btn:hover{
  color: #fff;
  background-color: #5face3;
}

.h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, monospace;
}
.para{
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  line-height: 2;
  font-size: large;
  text-align: center;
}

.lightblue{
  color: #5face3;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
