<div class="row">
  <div class="col-md-4">
<ngb-accordion  #acc="ngbAccordion" *ngFor="let debt of debts">

	<ngb-panel class="bg-dark" id="toggle-{{debt.name}}" title="{{debt.name}}">
		<ng-template ngbPanelContent>
      <div *ngIf = "showDetails">
        <ul>
          <li><u>Lender</u></li>
          {{debt.debtLender?.name}}
          <li><u>Balance</u></li>
          {{debt.currentBalance | currency}}
          <li><u>APR</u></li>
          {{debt.annualPercentageRate}}%
          <li><u>Min. Monthly Payment</u></li>
          {{debt.minimumMonthlyPayment | currency}}
        </ul>
        <button class = "btn btn-outline-danger"
        (click)="deleteDebt(debt.id)">Delete Debt</button>
        <button class = "btn btn-outline-primary" (click)="toggle()">Update Debt</button>
      </div>
      <div *ngIf = "showForm">
        <form>
          <label for="name">Name</label><br>
          <input type="text" name = "name" value="{{debt.name}}" [(ngModel)]="debt.name"><br>
          <label for="apr">APR </label><br>
          <input type="text" name = "APR" value="{{debt.annualPercentageRate}}" [(ngModel)]="debt.annualPercentageRate"><br>
          <label for="minPayment">Minimum Monthly Payment</label><br>
          <input type="text" name = "minPayment" value="{{debt.minimumMonthlyPayment}}" [(ngModel)]="debt.minimumMonthlyPayment"><br>
          <label for="currentBalance">Current Balance</label><br>
          <input type="text" name = "currentBalance" value="{{debt.currentBalance}}" [(ngModel)]="debt.currentBalance"><br>
          <button class = "btn btn-outline-primary" (click)="[updateDebt(debt), toggle()]" [routerLink]="['/loggedInHome']">Submit</button>
          <button class = "btn btn-outline-danger" (click)="toggle()">Cancel</button>
        </form>
      </div>


		</ng-template>
	</ngb-panel>
	<!-- <ngb-panel id="toggle-2" title="Second">
    <ng-template ngbPanelContent>
      p2
		</ng-template>
	</ngb-panel> -->
</ngb-accordion>
<button class = "btn btn-outline-primary" (click)="showAddDebt()">Add Debt Account</button>
<div *ngIf = "showAddDebtForm">
  <form>
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name = "name" placeholder="Name" [(ngModel)]="newDebt.name">
    <label class="form-label" for="lender">Lender </label>
    <select class="form-control" name = "debtLender" [(ngModel)]="newDebtLender.id">
      <option *ngFor="let lender of lenders" [value]="lender.id" >{{lender.name}}</option>
    </select>
    <label class="form-label" for="debtType">Debt Type</label>
    <select class="form-control" name = "debtType" (change)="updateNewDebtPrio(newDebtType)" [(ngModel)]="newDebtType.id">
      <option *ngFor="let type of types" [value]="type.id" >{{type.description}}</option>
    </select>
    <label class="form-label" for="apr">APR </label>
    <input class="form-control" type="text" name = "APR" placeholder="APR" [(ngModel)]="newDebt.annualPercentageRate">
    <label class="form-label" for="currentBalance">Current Balance </label>
    <input class="form-control" type="text" name = "currentBalance" placeholder="Current Balance" [(ngModel)]="newDebt.currentBalance">
    <label class="form-label" for="minPayment">Minimum Monthly Payment: </label>
    <input class="form-control" type="text" name = "minPayment" placeholder="Minimum Payment" [(ngModel)]="newDebt.minimumMonthlyPayment">
    <label class="form-label" for="priority">Priority</label>
    <input class="form-control" type="text" name = "priority" placeholder="Priority (1-10)" [(ngModel)]="newDebt.priority">
    <button class = "btn btn-outline-primary" (click)="createDebt(newDebt, newDebtLender, newDebtType)" [routerLink]="['/loggedInHome']">Submit </button>
    <button class = "btn btn-outline-danger" (click)="hideAddDebt()">Cancel</button>

  </form>
</div>
</div>
  <div class="col-md-8">
    <app-logged-in-calculator></app-logged-in-calculator>
  </div>
</div>

