#add-button {
  margin-top: 10px;
}

div.btn-group {
  padding-left: 0;
  padding-right: 0;
}

div.btn-group button {
  margin-left: 1px;
  margin-right: 1px;
}

button {
  margin: 10px;
}

.rotahu{
  background-color: black;
}

/* ngb-accordion {
  .card {
    border: none;
  }

  .card-header {
    @extend .h4;
    margin-bottom: 0;
    color: $primary-color;
    background-color: transparent;
  }

  .card-body{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
} */
