#add-button {
  margin-top: 10px;
}

div.btn-group {
  padding-left: 0;
  padding-right: 0;
}

div.btn-group button {
  margin-left: 1px;
  margin-right: 1px;
}

button {
  margin: 10px;
}

.rotahu{
  background-color: black;
}

.add-btn:hover{
  border-color: black;
  color: #fff;
  background-color: #5face3;
}

.btn-outline-custom {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: #fff;
}
.btn-outline-custom2 {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: #fff;
}


.white{
  color: #fff;
}
.delete-btn:hover{
  border-color: red;
  color: #fff;
  background-color: #5face3;
}
/* .transparent-bg{
  background-color: rgba(233, 224, 224, 0.5);
} */

.btn-outline-customDelete {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: fff;
}
.update-btn:hover{
  color: #fff;
  border-color: rgb(33, 99, 5);
  background-color: #5face3;
}

.btn-outline-customUpdate {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: #fff;
}

/* ngb-accordion {
  .card {
    border: none;
  }

  .card-header {
    @extend .h4;
    margin-bottom: 0;
    color: $primary-color;
    background-color: transparent;
  }

  .card-body{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
} */
