<div class="row">
  <div class="col-md-4">
<ngb-accordion  #acc="ngbAccordion" *ngFor="let debt of debts">

	<ngb-panel class="bg-dark" id="toggle-{{debt.name}}" title="{{debt.name}}">
		<ng-template ngbPanelContent>
      <div *ngIf = "showDetails">
        <ul>
          <li><u>Lender</u></li>
          {{debt.debtLender?.name}}
          <li><u>Balance</u></li>
          {{debt.currentBalance | currency}}
          <li><u>APR</u></li>
          {{debt.annualPercentageRate}}%
          <li><u>Min. Monthly Payment</u></li>
          {{debt.minimumMonthlyPayment | currency}}
        </ul>
      <div class="row">
        <div class="btn-group" role="group" >
          <button class = "btn btn-outline-danger" (click)="deleteDebt(debt.id)">Delete Debt</button>
          <button class = "btn btn-outline-primary" (click)="toggle()">Update Debt</button>
        </div>
      </div>
      </div>
      <div *ngIf = "showForm">
        <form>
          <label for="name">Name</label><br>
          <input type="text" name = "name" value="{{debt.name}}" [(ngModel)]="debt.name"><br>
          <label for="apr">APR </label><br>
          <input type="text" name = "APR" value="{{debt.annualPercentageRate}}" [(ngModel)]="debt.annualPercentageRate"><br>
          <label for="minPayment">Minimum Monthly Payment</label><br>
          <input type="text" name = "minPayment" value="{{debt.minimumMonthlyPayment}}" [(ngModel)]="debt.minimumMonthlyPayment"><br>
          <label for="currentBalance">Current Balance</label><br>
          <input type="text" name = "currentBalance" value="{{debt.currentBalance}}" [(ngModel)]="debt.currentBalance"><br>
          <div class="row">
            <div class="btn-group" role="group" >
              <button class = "btn btn-outline-dark" (click)="toggle()">Cancel</button>
              <button class = "btn btn-outline-primary" (click)="[updateDebt(debt), toggle()]">Submit</button>
            </div>
          </div>
        </form>
      </div>


		</ng-template>
	</ngb-panel>
	<!-- <ngb-panel id="toggle-2" title="Second">
    <ng-template ngbPanelContent>
      p2
		</ng-template>
	</ngb-panel> -->
</ngb-accordion>
<button class = "btn btn-outline-primary" id="add-button" (click)="showAddDebt()">Add Debt Account</button>
<div *ngIf = "showAddDebtForm">
  <form>
    <div class="row">
      <label for="name">Name</label><br>
      <input type="text" name = "name" [(ngModel)]="newDebt.name">
    </div>
    <div class="row">
      <label  for="lender">Lender </label>
      <select name = "debtLender" [(ngModel)]="newDebtLender.id">
        <option *ngFor="let lender of lenders" [value]="lender.id" >{{lender.name}}</option>
      </select>
    </div>
    <div class="row">
      <label  for="debtType">Debt Type </label>
      <select name = "debtType" [(ngModel)]="newDebtType.id">
        <option *ngFor="let type of types" [value]="type.id" >{{type.description}}</option>
      </select>
    </div>
    <div class="row">
      <label for="apr">APR </label>
      <input type="text" name = "APR" [(ngModel)]="newDebt.annualPercentageRate">
    </div>
    <div class="row">
      <label for="currentBalance">Current Balance </label>
      <input type="text" name = "currentBalance" [(ngModel)]="newDebt.currentBalance">
    </div>
    <div class="row">
      <label for="minPayment">Minimum Monthly Payment: </label>
      <input type="text" name = "minPayment" [(ngModel)]="newDebt.minimumMonthlyPayment">
    </div>
    <div class="row">
      <label for="priority">Priority (Optional)</label>
      <input type="text" name = "priority" placeholder="1-10" [(ngModel)]="newDebt.priority">
    </div>
    <div class="row">
      <div class="btn-group" role="group" >
        <button class = "btn btn-outline-light" (click)="hideAddDebt()">Cancel</button>
        <button class = "btn btn-outline-primary" (click)="createDebt(newDebt, newDebtLender, newDebtType)" [routerLink]="['/loggedInHome']">Submit </button>
      </div>
    </div>

  </form>
</div>
</div>
  <div class="col-md-8">
    <app-logged-in-calculator></app-logged-in-calculator>
  </div>
</div>

