<div *ngIf="!updateCr?.id">
  <h4>Create a new Debt:</h4>
  <label class="form-label" for="description">Title</label>
  <input class="form-control" name="description" type="text" [(ngModel)]="newCr.description"/>
  <label class="form-label" for="videoUrl">Image URL</label>
  <input class="form-control" name="videoUrl" type="url" [(ngModel)]="newCr.imageUrl"/>
  <label class="form-label" for="siteUrl">Site URL</label>
  <input class="form-control" name="siteUrl" type="url" [(ngModel)]="newCr.siteUrl"/>
  <label class="form-label" for="debtIntensity">Intensity of Debt</label>
  <input class="form-control slider" name="debtIntensity" type="range" min="0" max="100" [(ngModel)]="newCr.debtIntensity"/>
  <label class="form-label" for="enabled">Show this Credit Resource to others?</label>
  <input name="enabled" type="checkbox" [(ngModel)]="newCr.enabled"/><br>
  <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-outline-primary" (click)="submit(newCr)">Submit</button>
</div>
<div *ngIf="updateCr && updateCr.id">
  <h4>Update a current Debt:</h4>
  <label class="form-label" for="description">Title</label>
  <input class="form-control" name="description" type="text" [(ngModel)]="updateCr.description"/>
  <label class="form-label" for="videoUrl">Image URL</label>
  <input class="form-control" name="videoUrl" type="url" [(ngModel)]="updateCr.imageUrl"/>
  <label class="form-label" for="siteUrl">Site URL</label>
  <input class="form-control" name="siteUrl" type="url" [(ngModel)]="updateCr.siteUrl"/>
  <label class="form-label" for="debtIntensity">Intensity of Debt</label>
  <input class="form-control slider" name="debtIntensity" type="range" min="0" max="100" [(ngModel)]="updateCr.debtIntensity"/>
  <label class="form-label" for="enabled">Show this Credit Resource to others?</label>
  <input name="enabled" type="checkbox" [(ngModel)]="updateCr.enabled"/><br>
  <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-outline-primary" (click)="update(updateCr, updateCr.id)">Submit</button>
</div>
