#initials {
  color: white;
  background-color: #5face3;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  margin: 15px;
}

#initials,p {
  padding: 36px;
}

button {
  margin: 10px;
}

.btn-custom {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: #fff;
}
.btn-custom-hover:hover{
  border-color: black;
  color: #fff;
  background-color: #5face3;
}

div.row {
  justify-content: center;
}

div.btn-group {
  padding-left: 0;
  padding-right: 0;
}

div.btn-group button {
  margin-left: 1px;
  margin-right: 1px;
}

#modal-title, #modal-content {
  color: black;
}

#modal-content {
  padding-right: 10px;
}
