<div class="row">
  <div class="col-4">
    <div class="row">
      <p id="initials">{{loggedInUser.firstName.toUpperCase().substring(0,1)}} {{loggedInUser.lastName.toUpperCase().substring(0,1)}}</p>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="open(passwordContent)">Change Password</button>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="open(accountContent)">Update account Information</button>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="disable()">Delete Account</button>
    </div>
    <div class="row">
      <button class="btn btn-primary" >CRUD Debt</button>
    </div>
    <div class="row">
      <button class="btn btn-primary" >CRUD Expenses</button>
    </div>
    <div class="row">
      <button class="btn btn-primary" >CRUD Income</button>
    </div>
  </div>

  <div class="col-8">

  </div>
</div>

<!-- Change password modal -->

<ng-template #passwordContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <label for="oldPassword">Old Password</label>
          <input type="password" name="oldPassword" [(ngModel)]="oldPassword" />
				</div>
        <div class="input-group">
          <label for="newPassword1">New Password</label>
          <input type="password" name="newPassword1" [(ngModel)]="newPassword1" />
				</div>
        <div class="input-group">
          <label for="newPassword2">Retype New Password</label>
          <input type="password" name="newPassword2" [(ngModel)]="newPassword2" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="pwordModalSubmit(oldPassword, newPassword1, newPassword2); submittable && modal.close('Save click')">Change</button>
	</div>
</ng-template>

<!-- Update account modal -->

<ng-template #accountContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Account Info</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" [(ngModel)]="loggedInUser.firstName" />
				</div>
        <div class="input-group">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" [(ngModel)]="loggedInUser.lastName" />
				</div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" name="email" [(ngModel)]="loggedInUser.email" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="update(); modal.close('Save click')">Change</button>
	</div>
</ng-template>
