button {
  margin-bottom: 10px;
}

.btn-outline-custom {
  color: #fff;
  font-size: 18px;
  background-color: #5face3;
  background-image: none;
  border-color: #fff;
}
.pc-btn:hover{
  border-color: black;
  color: #fff;
  background-color: #5face3;
}

