<div class="row">
  <div class="col-3">
    <form>
      <label class="form-label" for="name">Name of Debt</label>
      <input class="form-control" type="text" name="name" [(ngModel)]="debt.name"/><br>
      <label class="form-label" for="payment">Monthly payment</label>
      <input class="form-control" type="number" name="payment" [(ngModel)]="debt.minimumMonthlyPayment"/><br>
      <label class="form-label" for="apr">APR</label>
      <input class="form-control" type="number" name="apr" [(ngModel)]="debt.annualPercentageRate"/><br>
      <label class="form-label" for="balance">Amount owed</label>
      <input class="form-control" type="number" name="balance" [(ngModel)]="debt.currentBalance"/><br>
      <button type="button" class="btn btn-outline-custom pc-btn form-control" (click)="formSubmit(debt)">Refresh Chart</button>
    </form>
    <p class = "form-label">Total Interest Paid:</p>
    <p class = "form-control disable">{{totalInterest | currency}}</p>
  </div>

  <div class="col-9" style="display: block;">
    <canvas baseChart width="400" height="400"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
