<div class="row">
  <h1 class="centered">About Rotahu</h1>
</div>
<div class="row">

 <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div id="founder1" class="carousel-item active">
        <img src="https://st.depositphotos.com/2964631/4406/i/600/depositphotos_44065241-stock-photo-billionaire.jpg" class="d-block w-100" alt="founder1">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="label">Billy Bourgeoisie</h5>
          <p class="label">The money behind Rotahu</p>
        </div>
      </div>
      <div id="founder2" class="carousel-item">
        <img src="https://thumbs.dreamstime.com/b/billionaire-wheels-9420266.jpg" class="d-block w-100" alt="founder2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="label">Frank Bunchomoney</h5>
          <p class="label">The money behind Rotahu...also</p>
        </div>
      </div>
      <div id="founder3" class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt0scEuXatQEFXnbknekmOv4EbudK9UmtJRg&usqp=CAU" class="d-block w-100" alt="founder3">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="label">Johnny Johnson</h5>
          <p class="label">The man with the plan</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row centered">
  <p>Rotahu Management has been around for long enough to know one thing: money is good.</p>
  <p>Here at Rotahu Management, our billionaire founders strove to ensure that anybody could make ends meet, and then fold them over each other. We wanted everyone to be financially stable.</p>
  <p>So to reach that goal of solving world <s>hunger</s> financial stability, we made a service that would tell you how to spend your money.</p>
  <p>Thus, anyone--from a small child, to a hedgefund manager--would be able to balance their debts, income, and expenses.</p>
</div>
